{% extends 'base.html' %}
{% block content %}
<h2 class="subtitle is-2">Actualizar Usuario</h2>
<form method="post" action="{{ url_for('session.update_session', correo=session.correo_principal) }}">
    <div class="field">
        <label for="name">Nombre:</label>
        <div class="control">
            <input type="text" id="name" name="name" required class="input" value="{{ session.nombre_usuario }}">
        </div>
    </div>
    <div class="field">
        <label for="role">Rol:</label>
        <div class="control">
            <input type="text" id="role" name="role" required class="input" value="{{ session.rol }}">
        </div>
    </div>
    <input type="submit" value="Actualizar" class="button is-primary">
</form>
{% endblock %}