<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>{{ title }}</title>
</head>

<body>
    <h1 class="title">MVC</h1>
    {% if current_user.is_authenticated %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% if current_user.has_role("admin") %}
                <a class="navbar-item" href="{{ url_for('session.list_sessions') }}">
                    Lista de Usuarios
                </a>
                <a class="navbar-item" href="{{ url_for('children_books.create_book') }}">
                    Crear Libro
                </a>
                {% endif %}
                <a class="navbar-item" href="{{ url_for('session.profile', correo=current_user.correo_principal) }}">
                    Perfil
                </a>
                <a class="navbar-item" href="{{ url_for('children_books.list_books') }}">
                    Lista de Libros
                </a>
                <a class="navbar-item" href="{{ url_for('session.logout') }}">
                    Cerrar Sesión
                </a>
            </div>
            {% if current_user.has_role("admin") %}
            <div class="navbar-end">
                <a class="button is-light" href="{{ url_for('children_books.download_pdf') }}">
                    Descargar PDF de Libros Infantiles
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% endif %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>