<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <title>{{ title }}</title>
</head>

<body>
    <h1 class="title">MVC</h1>
    {% if current_user.is_authenticated %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% if current_user.has_role("admin") %}
                <a class="navbar-item" href="{{ url_for('session_login.list_session_logins') }}">
                    Lista de Usuarios
                </a>
                <a class="navbar-item" href="{{ url_for('bath_product.create_product') }}">
                    Crear Producto
                </a>
                {% endif %}
                <a class="navbar-item" href="{{ url_for('session_login.profile', correo=current_user.cuenta_correo) }}">
                    Perfil
                </a>
                <a class="navbar-item" href="{{ url_for('bath_product.list_products') }}">
                    Lista de Productos
                </a>
                <a class="navbar-item" href="{{ url_for('session_login.logout') }}">
                    Cerrar Sesión
                </a>
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>